In [46]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb 
import matplotlib.pyplot as plt

In [47]:
tickers =['PG','BEI.DE']
sec_data=pd.DataFrame()
for t in tickers:
    sec_data[t]=wb.DataReader(t,data_source='yahoo',start='2007-1-1')['Adj Close']

In [48]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-06-01  117.250000        NaN
2020-06-02  118.059998  96.180000
2020-06-03  118.529999  98.959999
2020-06-04  116.050003  99.500000
2020-06-05  118.330002  99.080002

In [49]:
sec_returns=np.log(sec_data/sec_data.shift(1))

In [50]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024573
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011024
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000830
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000209
2007-01-29  0.000309  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002481  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2020-04-24 -0.005206 -0.006311
2020-04-27 -0.011260 -0.003594
2020-04-28 -0.004779  0.004859
2020-04-29  0.001624  0.002315
2020-04-30  0.006725  0.012211
2020-05-01 -0.008948       NaN
2020-05-04 -0.009029       NaN
2020-05-05  0.002071 -0.028924
2020-05-06 -0.025404  0.019082
2020-05-07 -0.008257  0.013534
2020-05-08  0.033143  0.021875
2020-05-11 -0.005535  0.004234
2020-05-12 -0.006613  0.005477
2020-05-13 -0.005515 -0.028339
2020-05-14 -0.000966 -0.013490
2020-05-15  0.007005  0.012842
2020-05-18  0.013864  0.033180
2020-05-19 -0.032979 -0.025211
2020-05-20  0.007443  0.005136
2020-05-21 -0.014762 -0.016789
2020-05-22  0.008741 -0.001738
2020-05-26 -0.005075 -0.005232
2020-05-27  0.016466  0.025252
2020-05-28  0.018874  0.017954
2020-05-29 -0.001207 -0.013488
2020-06-01  0.011408       NaN
2020-06-02  0.006885       NaN
2020-06-03  0.003973  0.028494
2020-06-04 -0.021145  0.005442
2020-06-05  0.019456 -0.004230

[3380 rows x 2 columns]

# PG analysis

In [51]:
sec_returns['PG'].mean()  ##daily average return

0.0002985656501091875

In [52]:
sec_returns['PG'].mean()*250  #trading days in a year 250 days

0.07464141252729688

In [53]:
sec_returns['PG'].std()  ##calculates standard deviation

0.011968826504855845

In [54]:
sec_returns['PG'].std()*250**0.5  ##raise to the power of 0.5 since std=square root of variance

0.18924376337368412

# Beiersdorf analysis

In [55]:
sec_returns['BEI.DE'].mean()

0.0002544517973865877

In [56]:
sec_returns['BEI.DE'].mean()*250

0.06361294934664692

In [57]:
sec_returns['BEI.DE'].std()

0.01379817116039352

In [58]:
sec_returns['BEI.DE'].std()*250**0.5

0.21816824205846014

In [66]:
print ( sec_returns['PG'].mean()*250)

0.07464141252729688

In [73]:
print (sec_returns['BEI.DE'].mean()*250)

0.06361294934664692

In [74]:
sec_returns[['PG','BEI.DE']].mean()*250

PG        0.074641
BEI.DE    0.063613
dtype: float64

In [75]:
sec_returns[['PG','BEI.DE']].std()*250**0.5

PG        0.189244
BEI.DE    0.218168
dtype: float64